/.settings
/.classpath
/.project

/ecom-catalogs/.project
/ecom-catalogs/.classpath
/ecom-catalogs/bin
/ecom-catalogs/target
/ecom-catalogs/.settings

/ecom-reviews/.project
/ecom-reviews/.classpath
/ecom-reviews/bin
/ecom-reviews/target
/ecom-reviews/.settings

/ecom-eureka/.project
/ecom-eureka/.classpath
/ecom-eureka/bin
/ecom-eureka/target
/ecom-eureka/.settings

/ecom-gateway/.project
/ecom-gateway/.classpath
/ecom-gateway/bin
/ecom-gateway/target
/ecom-gateway/.settings