/.settings
/.classpath
/.project

/ecom-catalogs/.project
/ecom-catalogs/.classpath
/ecom-catalogs/bin
/ecom-catalogs/target
/ecom-catalogs/.settings

/ecom-reviews/.project
/ecom-reviews/.classpath
/ecom-reviews/bin
/ecom-reviews/target
/ecom-reviews/.settings